.card {
	width:50% !important;
	position: relative;
	left: 25%;
}

.page-header {
	display: inline-block;
	margin-bottom: 50px;
	width: 100%;
}
.page-header h1 {
	display: inline-block;
}
.page-header a {
	display: inline-block;
	float: right;
}
.martop{
	margin-top: 10px;
}
.pl{
	padding-left: 8px;
}
.rl{
	position: relative;
	left:35%;
}
.mx{
	margin:15px 5px;
}
.imwh{
	margin-bottom: 10px;
	margin-top: 10px;

}
.mar{
	position: relative;
	left: 15%;
}
.card1{
	width:75% !important;
	position: relative;
	left:15%;
}
.mw {
	max-width: 600px;
}
.rll{
	position: relative;
	left: 20%;
}