.card {
	width:50% !important;
	position: relative;
	left: 25%;
}

.page-header {
	display: inline-block;
	margin-bottom: 50px;
	width: 100%;
}
.page-header h1 {
	display: inline-block;
}
.page-header a {
	display: inline-block;
	float: right;
}