// Quicksand font family

@font-face {
    font-family: 'Quicksand-Light';
    src: url('../fonts/Quicksand-Light.eot');
    src: url('../fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff'),
        url('../fonts/Quicksand-Light.ttf') format('truetype'),
        url('../fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../fonts/Quicksand-Medium.eot');
    src: url('../fonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff'),
        url('../fonts/Quicksand-Medium.ttf') format('truetype'),
        url('../fonts/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.eot');
    src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff'),
        url('../fonts/Quicksand-Regular.ttf') format('truetype'),
        url('../fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.eot');
    src: url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/Quicksand-Bold.woff') format('woff'),
        url('../fonts/Quicksand-Bold.ttf') format('truetype'),
        url('../fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('../fonts/Quicksand-SemiBold.eot');
    src: url('../fonts/Quicksand-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-SemiBold.woff2') format('woff2'),
        url('../fonts/Quicksand-SemiBold.woff') format('woff'),
        url('../fonts/Quicksand-SemiBold.ttf') format('truetype'),
        url('../fonts/Quicksand-SemiBold.svg#Quicksand-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

