// My orders
.my-orders {
  .accordion {
    .card {
      // padding-bottom: 1rem;
      border: 0;
      background: transparent;
      @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
        // height: 60px;
      }
      .card-body {
        background: $white;
      }
      .card-header {    
        padding: 0;   
        // border: 0;       
        .btn {          
          color: $white;
          font-family: $QS-regular;
          height: auto;
          min-height: inherit;
          line-height: inherit; 
          background: $primary;
          border: 1px solid $primary;
          border-radius: 0.625rem; // 10px
          padding-top: .5rem;
          position: relative;
          @include media-breakpoint-up(xl) {
            padding-left: 3rem;
          }
          &:hover, &:focus {             
            box-shadow: none;
            text-decoration: none;
          }
          .arrow {
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;                        
            border-bottom: 20px solid rgba(255, 255, 255, .5);
            position: absolute;
            right: 2rem;
            top: 1.1rem;
          }
          &.collapsed {
            background: $light-purple;
            border: 1px solid $primary;
            color: $black; 
            .arrow {               
              border-top: 20px solid rgba(94, 39, 98, .5); 
              border-bottom: transparent;
            }
          }
        }
      }
      .btn-light {
        // @include rfs(20);
        min-width: 240px;
        height: 60px;
      }
    }
  }
}



// Mobile
@include media-breakpoint-down(sm) {
   .my-orders {
     .accordion {
       .card {
         .card-header {
           .btn {
             @include rfs(18);
             .arrow {
               right: 1rem;
               top: 1.2rem;
             }
             &.collapsed {
               .arrow {
                  right: 1rem;
                  top: 1.5rem;
               }
             }
           }
         }
       }
     }
   }  
}