// My account
.my-account {
  h4 {
    background: $primary;
    border-radius: 10px;
    color: $white;
    padding: 1rem 1.5rem; 
    margin: 0;
  }
  .my-profile {
    .form {
      label {
        color: $mid-gray;
        font-family: $QS-bold;
        @include rfs(16);
      }
      p {
        color: $black;
        font-family: $QS-bold;
        @include rfs(16);
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .my-saved-address {
    h5 {
      @include rfs(14);
      font-family: $QS-bold;
      color: $mid-gray;
      border-bottom: 1px solid $mid-gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 0;
      span {
        float: right;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    p {
      @include rfs(14);       
      color: $black;
    }
  }
  .my-orders {
    span, .order-num {
      @include rfs(14);
      font-family: $QS-bold;
      color: $mid-gray;
    }
    .dropdown {
      cursor: pointer;
      .btn {
        height: auto;
        padding: 0;
        min-width: inherit;
        margin: 0;
        color: $black;
        display: flex;
        align-items: center;
        &:focus {
          border: 0;
          border-radius: 0;
          box-shadow: none; 
          outline: none;         
        }
      }
      .dropdown-toggle {
        &:after {
          border: none;
        }
      }
      &:hover {
        .dropdown-menu {
          margin-left: -5rem;
          top: 0;
          min-width: 110px;
          background: $pale-yellow;
          border: 1px solid $secondary;
          .dropdown-item {
            padding: 0.25rem .5rem;
            @include rfs(14);
            &:focus {
              border: 0;
              border-radius: 0;
              box-shadow: none;  
              outline: none;        
            }
          }
        }
      }
      
    }
  }
  .tile-box {
    background: $white;
    border-radius: 10px;
    min-height: 450px;
  }
}

// Mobile
@include media-breakpoint-down(md) {
  .my-account {
    h4 {
      padding: 1rem; 
    }
    .tile-box { 
      min-height: inherit;
    }
  }
}